<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="wrapper">
  <div class="main-container full-viewport-width">
    <div class="container p-0">
      <div class="left">
        <!-- Info container -->
        <div class="info-container">
          <div class="cd-container">
            <img src="/assets/images/portada.jpg">
            <div class="overlay-portada"></div>
          </div>
          <div class="data-box">
            <h2>One Hot Minute</h2>
            <h5>14 Canciones - 1995</h5>
            <p>One Hot Minute es un disco oscuro pero cada canción está llena de belleza. Todo cuadra, empezando por las letras de Kiedis, especialmente oscuras, como un grito de ayuda por su regreso a las adicciones.</p>
            <div class="genre-tags">
              <a>‎Rock alternativo‎</a>
              <a>‎Funk Rock</a>
            </div>
          </div>
        </div>
        <!-- /Info container -->

      </div>

      <div class="right">
        <div class="cover">
          <img src="/assets/images/logo-artist.jpg" alt="Red Hot Chili Peppers">
        </div>
        <span class="artist">Red Hot Chili Peppers</span>
        <span>14 Albumes</span>
      </div>
    </div>
  </div>
  <div class="container full-row">
    <div class="section-left">
      <app-related-artists></app-related-artists>
      <app-song-list></app-song-list>
    </div>
    <div class="section-right">
      <app-album-list></app-album-list>
    </div>
  </div>
</div>